/* 
Desenvolvido por Mister W Informática 
Wesley Martins Alves da Costa
wesley@misterwinformatica.com.br
www.misterwinformatica.com.br
Site: www.pafalianca.com.br
*/

body{ 
	font-family: Agency FB;
	background-color:white;
}
#centro{
	margin-left: auto;
	margin-right: auto;
    background-color: white;
    width:800px;
    height:auto;
}
#logo{
	width:330px;
	height: 130px;
	float: left;
}
#menusuperior{
	width: 470px;
	height: 70px;
	float: left;
}
#menuinferior{
	width: 470px;
	height: 60px;
	float: left;
}
#adesao{
	width: 330px;
	height: 445px;
	float: left;
	background-image: url('../imagens/fundoadesao.png');
	background-position: center;
}
#bannerlateral{
	width: 470;
	height: 445px;
	float: left;
}
#bannerCentral{
	width: 800px;
	height: 445px;
	float: left;
}
#planos{
	width: 800px;
	height: 210px;
	background-image: url('../imagens/fundoplanos.png');
	float: left;
	margin-bottom: 50px;
}
#blog{
	width:265px;
	height: 200px;
	float: left;
	text-align: left;
}
#duvidas{
	width:265px;
	height: 200px;
	float: left;
	text-align: center;
}
#encontre{
	width:265px;
	height: 200px;
	float: right;
	text-align: right;
}
#institucional{
	width: 200px;
	height: 200px;
	float: left;
}
#redes{
	width: 200px;
	height: 200px;
	float: left;
}
#convenios{
	width: 200px;
	height: 200px;
	float: left;
}
#trabalhe{
	width: 200px;
	height: 200px;
	float: left;
}
#rodape{
	width: 800px;
	height: 300px;
	background-image:url('../imagens/rodape.png');
	float: left;
}
/* Classes*/
.logo{
	margin-top: 24px;
	margin-left: 30px;
}
.institucional{
	margin-top: 110px;
	margin-left: 25px;
}
.redes{
	margin-top: 190px;
}
.convenios{
	margin-top: 150px;
	
}
.trabalhe{
	margin-top: 90px;
}